if [[ ! -f .localenv ]] ; then
    echo ".localenv doesn't exist, generating it..."
    echo "export YUBIKEY_GDM_UNLOCKER_GROUP=devices" | tee -a .localenv
    echo "export YUBIKEY_GDM_UNLOCKER_OWNER=$USER" | tee -a .localenv
    echo "export YUBIKEY_GDM_UNLOCKER_YUBIKEYS=" | tee -a .localenv
    echo "WARNING: You need to add your yubikey ids to .localenv"
fi

echo "Loading YUBIKEY_GDM_UNLOCKER variables from .localenv..."
source .localenv

export | grep YUBIKEY_GDM_UNLOCKER_
